{% extends '@KazetennAdmin/admin_base.html.twig' %}
{% trans_default_domain 'kazetenn_admin' %}

{% block title %}
    {% trans %}kazetenn_admin.page_title{% endtrans %}
{% endblock %}

{% block body %}
    <div id="page_container" class="page_container">
        {% block page_title %}
            <div class="bloc_content">
                <h1 id="page_title" class="page_title">{{ page.title }}</h1>
            </div>
        {% endblock %}

        {# launch de blocks display  #}
        {% for order, data in page.blocksOrdered %}
            {{ include('@Core/content/_display_block.html.twig', {block: data}) }}
        {% endfor %}
    </div>
{% endblock %}
