/*!
 * This file is part of the Kazetenn Pages Bundle
 *
 * (c) Gwilherm-Alan Turpin (elvandar.ysalys@protonmail.com) 2022.
 *
 * For more informations about the license and copyright, please view the LICENSE file at the root of the project.
 */.page_title{margin:auto}.page_container{margin-left:10%;margin-right:10%}.content_bloc_container{background-color:#fff;margin-top:20px;padding:20px}.header{background:#fff;font-size:40px;padding:30px;text-align:center}body{background:#f1f1f1;font-family:Arial,serif;padding:20px}