###> phpstorm ide ###
.idea
###< phpstorm ide ###

/src/Kazetenn/*/.idea
/src/Kazetenn/*/.git
/src/Kazetenn/*/vendor
/src/Kazetenn/*/node_modules

/src/Core/*/.idea
/src/Core/*/.git
/src/Core/*/vendor
/src/Core/*/node_modules

App/

/bin/
/migrations/
/public/
/config/
/templates/
/translations/
/assets
.env
.env.test

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
