parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: 8
    paths:
        - src/
    excludePaths:
        - src/Admin/DependencyInjection/Configuration.php
        - src/Pages/DependencyInjection/Configuration.php
        - src/Articles/DependencyInjection/Configuration.php
        - src/Core/ContentBuilder/DependencyInjection/Configuration.php
