/* The sidebar menu */
.sidebar {
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  //margin-left: 0 !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  //transition: margin-left .5s; /* If you want a transition effect */
  //padding: 20px;
  margin-left: 5%;
}

.icon-text {
  flex-wrap: nowrap !important;
}

.sidebar-1 {
  flex: none;
  width: 3%;
}

.sidebar-2 {
  flex: none;
  width: 12%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
