{% extends '@KazetennAdmin/admin_base.html.twig' %}
{% trans_default_domain 'kazetenn_admin' %}

{% block title %}
    {{ 'kazetenn_admin.page_not_found.page_not_found_title'|trans }}
{% endblock %}

{% block body %}
    <p>
        {{ 'kazetenn_admin.page_not_found.page_not_found_text'|trans }}
    </p>
{% endblock %}
