{% extends '@KazetennCore/content_handling/page_form.html.twig' %}

{% block title %}New Page{% endblock %}

{% block content_custom_form %}
    <div class="column">{{ form_row(form.parent) }}</div>
{% endblock %}
