@import "~bulma/bulma";

html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: #AAAAAA;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.admin_children_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.admin_children_vertical {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.admin-body_container {
  background-color: white;
}

.admin-page-content {
  height: 100%;
  width: 100%;
  min-width: 100%
}

.admin-page-container {
  min-height: 85.5%;
  width: 100%;
}

.admin-footer {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.admin-navbar {
  background-color: white;
  padding: 0 3rem 0 3rem;
}

.admin-navbar-brand {
  flex: none;
  width: 16.66667%;
}
