{% extends '@KazetennArticles/blog_article_base.html.twig' %}

{% block title %}
    {% trans %}kazetenn.articles.not_found.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}kazetenn.articles.not_found.text{% endtrans %}</h1>
{% endblock %}
