/*!
 * This file is part of the Kazetenn Pages Bundle
 *
 * (c) Gwilherm-Alan Turpin (elvandar.ysalys@protonmail.com) 2022.
 *
 * For more informations about the license and copyright, please view the LICENSE file at the root of the project.
 */

.page_title {
  margin: auto;
}

.page_container {
  margin-left: 10%;
  margin-right: 10%;
}

.bloc_content {
}

.bloc_content_empty {

}

.content_bloc_container {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

body {
  font-family: Arial, serif;
  padding: 20px;
  background: #f1f1f1;
}
