{# This block is the display logic bloc for content inside of a page. You SHOULD NOT modify it. #}
{% if size is not defined %}
    {% set size = 100 %}
{% endif %}
<div class="content_bloc_container" style="width: {{ size }}%;order: {{ block.blocOrder }};">
    {% block display_block_main %}
        {{ component('block', { block: block }) }}
    {% endblock %}

    {% block display_block_childrend %}

        {% set block_number = block.childrensOrdered|length %}
        {% if block_number >= 1 %}
            {% set block_size = 100 / block_number %}
            <div style="display:flex; flex-direction: {% if block.align == constant('Kazetenn\\Core\\Entity\\BaseBlock::HORIZONTAL_ALIGN') %}row{% else %}column{% endif %}; justify-content: space-evenly">
                {% for child in block.childrensOrdered %}
                    {{ include('@KazetennCore/content/_display_block.html.twig', {block: child, size: block_size}) }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
</div>
