@import "~bulma/bulma";

html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: #AAAAAA;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.admin_children_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.admin_children_vertical {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}
