{% extends '@KazetennAdmin/admin_base.html.twig' %}
{% trans_default_domain 'kazetenn_admin' %}

{% block title %}
    {% trans %}kazetenn_admin.page_title{% endtrans %}
{% endblock %}

{% block body %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis venenatis purus quis commodo. Donec vitae egestas libero. Curabitur ac finibus ligula. Proin ac urna tortor. Aenean mattis, ex at sodales luctus, ipsum diam porta libero, vitae congue tortor nibh et orci. Donec ut lorem placerat, sodales lacus consequat, finibus nisl. Aliquam ex purus, porta ac ex ac, fringilla gravida erat. Donec leo ligula, tincidunt ac scelerisque at,
        sollicitudin eu erat. Etiam fringilla velit ut ante eleifend, id vestibulum felis congue. Duis venenatis mauris fermentum sodales fermentum. Praesent eu aliquam mauris.
    </p>
{% endblock %}
