{% extends '@KazetennPages/blog_base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}
    {{ include('@KazetennPages/content/_page_header.html.twig') }}
{% endblock %}

{% block body %}
    <div id="page_container" class="page_container">
        {% block page_title %}
            <div class="bloc_content">
                <h1 id="page_title" class="page_title">{{ page.title }}</h1>
            </div>
        {% endblock %}

        {% for order, data in page.pageContentsOrdered %}
            {{ include('@KazetennPages/content/_display_block.html.twig', {block: data.0}) }}
        {% endfor %}
    </div>
{% endblock %}
